@use 'src/styles/variables';

@mixin button-hover {
  background-color: variables.$hover-color;
  transition: 0.3s;
  cursor: pointer;
}

@mixin flex-settings($flex-direction, $justify-content: normal, $align-items: normal) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}